*.user
.vs/
obj/
bin/
jpegli/
PublishProfiles/
Properties/
PhotoLocator/exiftool/
PhotoLocator/ffmpeg/
PhotoLocatorTest/TestData/*.cr3
PhotoLocatorSetup/*.cache
PhotoLocatorSetup/*.pfx
PhotoLocatorSetup/AppPackages/
PhotoLocatorSetup/BundleArtifacts/
TestResults/